[phases.setup]
nixPkgs = ["python312", "postgresql", "bash"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = ["python manage.py collectstatic --noinput"]

[start]
cmd = "bash start.sh"
